{% extends 'base.html' %}
{% set page = 'accueil' %}
{% set titre = 'Accueil' %}

{% block content %}

<div class="hero">

  <div class="hero-tag">Projet de Fin d'Études — 2025 / 2026</div>

  <h1 class="hero-title">
    Étude du taux de pertes<br>
    lors du <span>mirage</span> des<br>
    produits Biocad
  </h1>

  <p class="hero-subtitle">
    YPEVA (4mL, 16mL) &nbsp;·&nbsp; ZELVA (10mL, 50mL) &nbsp;·&nbsp; Unité des Blocs Stériles
  </p>

  <div class="hero-info">
    <div class="hero-info-item">
      <label>Réalisé par</label>
      <span>JALALEDdddddINE Saad</span>
    </div>
    <div class="hero-info-item">
      <label>Encadrant pédagogique</label>
      <span>Prof. Bakher Zinealaabidin</span>
    </div>
    
    <div class="hero-info-item">
      <label>Filière</label>
      <span>Procédés et Ingénierie Chimique</span>
    </div>
  </div>

</div>

{% endblock %}